/** Colors */
$dark-blue: #073B4C;
$blue: #118AB2;
$light-blue: #90e0ef;
$light-green: #06D6A0;
$yellow: #FFD166;
$pink: #EF476F;
$black: #0b090a;

$danger-bg: #E39695;
$danger-text: #83282c;
$danger-accent: #da5452;

// OLD: TO REMOVE
$text-over-dark: #fff;
$bg-black: #000;
$bg-dark: #444;
$bg-dark-accent: #666;
$bg-light-gray: #fefefe;

/** Sidebar */
$sidebar-icon-size: 48px;
$sidebar-padding: 1rem;
$sidebar-item-bg: #5d88dd;

/** Animation */
$hide-anim-duration: 500ms;

/** Breakpoints */
$breakpoint-sm: 576px;
