/** Colors */
$dark-blue: #073b4c;
$blue: #118ab2;
$light-blue: #90e0ef;
$light-green: #06d6a0;
$light-purple: #564592;
$light-gray: #aaa;
$yellow: #ffd166;
$orange: #f4a261;
$pink: #ef476f;
$black: #0b090a;

$danger-bg: #e39695;
$danger-text: #83282c;
$danger-accent: #da5452;

$info-bg: #ade8f4;
$info-text: #023e8a;
$info-accent: #0077b6;

/** Sidebar */
$sidebar-icon-size: 48px;
$sidebar-padding: 1rem;

/** Animation */
$hide-anim-duration: 500ms;

/** Breakpoints */
$breakpoint-sm: 576px;
