.button {
  padding: 10px;
  background: $bg-dark;
  color: $text-over-dark;
  border-radius: 5px;
  text-align: center;
  width: inherit;
  margin-bottom: 1rem;
  cursor: pointer;
  border: 2px solid $bg-dark;
  margin: 0;
  font-size: 1em;

  &:hover, &:focus, &:active {
    background: $bg-dark-accent;
    border: 2px solid $bg-dark;
  }
}
