@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

:root {
	--text-over-dark: #fff;
	--bg-dark: #444;

	--topbar-height: 2rem;
	--sidebar-width: 4rem;
}