@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

:root {
	--text-over-dark: #fff;
	--bg-black: #000;
	--bg-dark: #444;
	--bg-dark-accent: #666;

	--topbar-height: 2rem;

	--sidebar-icon-size: 48px;
	--sidebar-padding: 1rem;
	--sidebar-item-bg: #5d88dd;

	--hide-anim-duration: 500ms;

}
