.sidebar-item {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: $sidebar-icon-size;
  height: $sidebar-icon-size;
  border-radius: 50%;
  background: $blue;
  cursor: pointer;
  text-decoration: none;
  transition: border-radius 128ms, background 128ms;
  outline: none;

  &:hover {
    border-radius: 36%;
    background: $blue;

    .popper {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    border-radius: 4px;
    background: #fff;
    transform: translate(-100%, -50%) scale(0);
    transition: transform 128ms;
  }

  &:not(.active):hover::before {
    transform: translate(-100%, -50%) scale(0.5);
  }

  &.active::before {
    transform: translate(-110%, -50%) scale(0.75);
  }

  &.add-site-item {
    color: $light-green;

    &:hover {
      color: #fff;
      background-color: $light-green;
    }
  }

  &.multi-framing-item {
    color: $light-purple;

    &:hover {
      color: #fff;
      background-color: $light-purple;
    }
  }

  img {
    width: inherit;
    border-radius: inherit;
  }

  .popper {
    position: absolute;
    width: max-content;
    top: 50%;
    left: 155%;
    border-radius: 4px;
    padding: 0.68rem 1rem;
    opacity: 0;
    background: $black;
    pointer-events: none;
    transform: translateY(-50%) scale(0.98);
    transform-origin: left;
    transform: opacity 64ms, transform-origin 128ms;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      height: 24px;
      width: 24px;
      top: 50%;
      left: -2px;
      z-index: -1;
      background: $black;
      transform: translateY(-50%) rotate(45deg);
    }

    .popper-text {
      color: #fff;
      margin: 0;
    }
  }
}
